@import url('https://fonts.googleapis.com/css2?family=SUSE+Mono:ital,wght@0,100..800;1,100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "SUSE Mono", sans-serif;
    min-height:100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg,#9785af,#22db60);
}

.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}
.buttons button{
    padding:10px 20px;
    font-size:18px;
    border:none;
    border-radius:13px;
    transition: all 0.3s;
    &:hover{
        cursor:pointer;
        transform: scale(0.92);
    }
}
#btn1{
    background-color:#1a1a1a;
    color: white;
}
#btn2{
    background-color:#16ce16;
    color:black;
}
#deg{
    background-color:transparent;
    box-shadow:2px 2px 10px black;
    font-weight:bold;
}
.copyCode{
    border-left:8px solid rgb(221, 218, 218);
    padding:10px;
    box-shadow:2px 2px 10px black;
    border-radius:10px;
}
.copyCode h4{
    text-align: center;
    color:#efeded;
    font-size:1.3rem;
    margin-bottom:10px;
}
.copyCode p{
    font-size:20px;
}
.copyCode:hover{
    cursor:pointer;
}

.h1{
    font-size:clamp(1rem, 4vw + 1rem, 3rem);
    white-space:nowrap;
    font-weight:900;
    animation:typing steps(20);
    overflow: hidden;
    padding-right:4px;
    border-right:2px solid black;
    animation: typing 3s steps(22),
                cursor 1s step-end infinite;
}

@keyframes typing {
    from{
        width:0%;
    }
    to{
        width:100%;
    }
}
@keyframes cursor{
    50%{border-color:transparent;}
}


@media screen and (max-width:576px) {
    .wrapper{
        padding:10px;
        gap:2rem;
    }
    .buttons button{
        &:hover{
        cursor:default;
        transform: scale(1);
        }
    }
    .buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap:10px;
    }
    #deg{
        width:100%;
    }
    .copyCode p{
    font-size:18px;
}
    
}